---
---

@import "{{ site.theme }}";
html,
body {
    background-color: #000;
    color: #b9b8b8;
}

.highlight {
    background-color: #00000090;
    color: #000;
}

h1 {
    color: #0545db;
}

h3,
h4 {
    color: #436AC4;
}

code, pre{
    color: #9b9a9a;
}
